<% include partials/header %>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<h1>New Item</h1>
			<form action="/todos" method="POST" id="new-todo-form">
				<div class="form-group">
					<label>Item Text</label>
					<input type="text" name="todo[text]" class="form-control">
				</div>
				<button class="btn btn-primary">Create Item</button>
			</form>

			<h1>To Do Items</h1>
			<ul class="list-group" id="todo-list">
			<% todos.forEach(function(todo){ %>
				<li class="list-group-item">
					<span class="lead">
						<%= todo.text %>
					</span>
					<div class="pull-right">
						<a href="/todos/<%=todo._id%>/edit" class="btn btn-sm btn-warning">Edit</a>
						<form style="display: inline" method="POST" action="/todos/<%=todo._id%>">
							<button type="submit" class="btn btn-sm btn-danger">Delete</button>
						</form>
					</div>
					<div class="clearfix"></div>
				</li>
			<% }); %>
			</ul>

		</div>
	</div>

<% include partials/footer %>


